.variable-type
{
	border-radius: 5px;
	color: white;
	padding: 0px 4px 2px 4px;
}

.enum
{
	background: #5f5d1e;
}

.bool
{
	background: #9d3a31;
}

.float
{
	background: #266e93;
}

.int
{
	background: #4757a1;
}

.side-bar
{
	background: #191919
}